<p id="notice"><%= notice %></p>

<div class="container">
<h1>Examples</h1>
    <%= link_to 'New Example', new_example_path %>
  <br>

    <% @examples.each do |example| %>
      <div class="individual-container">
        <%= render "show", example: example %>
        <%= link_to 'Show', example %>
        <%= link_to 'Destroy', example, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    <% end %>
</div>

